<!-- FIXME open if child bands has changes -->
<app-accordion-box [open]="open || (searching && bands.length > 0)" [toggle]="toggle">
  <app-accordion-box-header>
    <mat-checkbox
      *ngIf="title"
      [checked]="allBoxesAreChecked"
      [indeterminate]="someBoxesAreChecked"
      [disabled]="!scenarioActive"
      (change)="updateAll()"
      checkboxSize="small"
    >{{ title }}</mat-checkbox>
  </app-accordion-box-header>
  <app-accordion-box-content>
    <ul>
      <li *ngFor="let band of bands; trackBy: bandNumber"
        class="list-item"
        [class.visible]="band.visible && band.loaded">
        <app-slider-controls
          [band]="band"
          [category]="category"
          [disabled]="!scenarioActive"
          [onSelect]="onChange"
          [onChangeVisible]="onChangeVisible"
          [onChangeVisibleReliability]="onChangeVisibleReliability"
        ></app-slider-controls>
        <app-icon iconType="eye" class="visible" *ngIf="band.visible && band.loaded"></app-icon>
      </li>
    </ul>
  </app-accordion-box-content>
</app-accordion-box>
